@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans&display=swap');

html {
  color: #fcf6c2;
  background-color: #2d3436;
  font-size: 1.5em;
  font-family: 'Anonymous Pro', monospace;
  overflow-x: hidden;
  scrollbar-color: gray #2d3436;
  -webkit-tap-highlight-color: transparent;
}

<style>html{ background-image: url('https://thesilentlibrary.com/media/grainbg.gif');}</style>
